
/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set background color and text color */
body {
    background-color: rgb(126, 115, 115);
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: rgb(201, 95, 95);
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

/* Section styles */
section {
    margin: 20px;
    padding: 20px;
}

h2 {
    font-size: 28px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Black\ rose\ 4.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Footer styles */
footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Links */
a {
    color: #ff5733;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}